.game {
  &__container {
    display: flex;
    width: 80%;
    flex-direction: column;
  }

  &__scoreBox {
    display: flex;
    column-gap: 1rem;

    .scoreBox {
      &__title {
        span {
          font-size: 2rem;
          animation: bounce;
          animation-duration: 800ms;
        }
      }

      &__infoBox {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .score{
          font-size: 1.2rem;
          font-weight: 700;
        }
      }
    }
  }

  &__mapBox {
    display: flex;
    flex-wrap: wrap;
    height: max-content;
  }

  &__field {
    width: 10%;
    padding-top: 5%;
    border: 1px solid black;
    position: relative;

    .user {
      position: absolute;
      background: lawngreen;
      width: 100%;
      height: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .target {
      position: absolute;
      background: gold;
      width: 100%;
      height: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}