@mixin btn_common {
  background: snow;
  border: 3px solid darkgoldenrod;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover{
    background: gold;
  }
}

$gridGap: 1rem;

.game__arrowBox{
  margin-top: 1rem;
  display: flex;
  column-gap: $gridGap;
  padding: $gridGap;
  justify-content: center;

  .arrowBox{
    &__box{
      display: flex;
      flex-direction: column;
      row-gap: $gridGap;
      width: 30%;

      button{
        @include btn_common;
        width: 100%;
        height: 6vh;
      }
    }
    &__btn{
      @include btn_common;
      width: 30%;
    }
  }
}