@import "./normalize.css";
@import "./fonts.scss";
@import "./animations.scss";

* {
  box-sizing: border-box;
}

.app__container {
  animation: bounceInDown;
  animation-duration: 1s;
  font-family: 'Raleway', sans-serif;
}
