.home {
  &__container {
    background: snow;
    padding: 1rem;
    border: 2px solid darkgoldenrod;
    border-radius: 2rem;
  }

  &__title {
    font-family: 'My Soul', cursive;
    text-align: center;
    font-size: 3rem;
    margin: 1rem auto;
    color: gold;
    animation-name: goldChange;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
}