.home {
  &__login {
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1rem;

    .login {
      &__input {
        padding: 10px;
      }

    }
  }

  &__logged {
    text-align: center;

    .logged {
      &__text {
        font-size: 1.2rem;
      }

      &__user {
        font-size: 1.5rem;
      }

      &__box {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 1rem;
        column-gap: 4rem;
      }

      &__btn {
        width: 200px;
        height: 50px;
        border: black solid 2px;
        cursor: pointer;
        border-radius: 25px;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 700;

        &--start {
          border-color: lawngreen;
          font-size: 1.5rem;

          &:hover {
            background: lightgreen;

            span {
              animation: flash;
              animation-duration: 800ms;
            }

          }
        }

        &--logout {
          border-color: darkred;
          background: white;

          &:hover {
            background: indianred;
          }
        }
      }
    }
  }

}